<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="trello" content="trello">
    <link rel="stylesheet" href="css/main.css">
    
    
    <!--libraries needed-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <!-- styling -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Pavanam|Roboto|Source+Sans+Pro:300,400|Vidaloka" rel="stylesheet">
    
    <title>Michello</title>
</head>
    
<body>
    <div id="app">
    <div ref="span" id="span" :style="{'background-color':background}">
    
    <header>
        <!--add lists menu item-->
        <div class="menu-container">
            <div class="menu">
                <div class="michello">
                    <h1>michello</h1>
                </div>
                <div class="right">
                    <div class="more">
                        <a href="#" class="sidebarOpen" @click="addLists=!addLists"> <i class="fas fa-plus"></i>AddList </a>
                        <div class="dropdownContent" v-if="addLists">
                            <div class="addListInput">
                                <input @keyup.enter="addList" class="nameList" v-model="newList">
                                <button class="addB" @click="addList">Add List</button>
                            </div> 
                        </div>
                    </div>
                    <!--log in/sign up menu item-->
                    <div v-if="loggedIn" class="more dropdown">
                        <a href="#" class="sidebarOpen" @click="loggedIn=!loggedIn"> <i class="fas fa-user"></i>Log Out</a>
                    </div>
                    <div v-if="!loggedIn" class="more dropdown">
                        <a href="#" class="sidebarOpen" @click="showLoginModal=!showLoginModal"> <i class="fas fa-user"></i>Log In/Sign Up</a>
                        <div id="signInLogIn" class="dropdownContent" v-if="showLoginModal">
                            <form id="form">
                                <div class="userSignIn">
                                    <h4>{{newUser? "Sign Up":"Log In"}}</h4>
                                    <div><p class="username">Username:</p><input type="text" class="username userInput" v-model="newUsername"></div>
                                    <div class="emailDiv"><p class="email">Email:</p><input type="text" class="email userInput" v-model="newEmail"></div>
                                    <div class="profpicDiv" v-if="newUser"><p class="profpic">Upload a profile picture!</p>
                                    <input type="file" id="files" name="files[]" @change="previewImage"/>
                                    <img :src="previewUserImage">
                                    </div>
                                    <div v-if="newUser">
                                    <div class="signUpB"><button class="signIn" @click="signUp">Sign Up</button></div>
                                    <p id="noAccount">Already have an account?</p><a id="clickHere" href="#" @click="newUser=!newUser">Log in!</a>
                                    </div>
                                    <div class="userSubmit" v-if="!newUser">
                                    <div class="signInB"><button class="signIn" @click="logIn">Log In</button></div>
                                    <p id="noAccount">Don't have an account?</p><a id="clickHere" href="#" @click="newUser=!newUser">Create one!</a>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                  <!-- options menu item-->
                    <div class="more">
                                <a href="#" class="sidebarOpen" @click="sidebar=!sidebar"> <i class="fas fa-wrench"></i>Options</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
        
    
    
    <!--list section-->
    <div class="container">
           <div class="row" v-for="i in rowCount">
              <div v-for="(list, listKey) in listsCountInRow(i)" class="col-md-4">
                <div class="listContainer">
                    <a href="#" class="destroy" @click="removeList(list)"></a>
                      <h1 @click="editItem(list)" v-if="!list.edit">{{ list.name }}</h1>
                        <input class="edit" type="text"
                              v-model="list.name"
                              v-if="list.edit"
                              ref='search'
                              v-focus
                              @blur="saveEdit(list)"
                              @keyup.enter="saveEdit(list)">
                    <!-- iterate through card list-->
                            <div v-for="(card, cardKey) in list.cards">
                                <div v-if="(!list.collapsed && card.active)" v-on:click.self="card.showModal=true" id="card">
                                    <span v-if="!card.edit">{{ card.name }}</span>
                                    <button class="editButton" @click="card.edit=!card.edit; saveEditCard(card,list,cardKey)"><i class="far fa-edit" style="font-size:17px;"></i></button>
                                    <input class="edit" type="text"
                                      v-model="card.name"
                                      v-if="card.edit"
                                      ref='search'
                                      @keyup.enter="saveEditCard(card,list,cardKey)">
                                    <a href="#" class="destroyCard" @click="removeCard(card,list,cardKey)"></a>
                                    <div v-on:click.self="card.showModal=true" class="date">{{getDate(card)}}</div>
                                    <div v-on:click.self="card.showModal=true" class="date">{{card.description}}</div>

                                    <div class="changeCardList"> 
                                     <div class='left2' @click="moveLeftCard(list,listKey, card, cardKey)"><i class="click fas fa-caret-left"></i></div>
                                    <div class='right2' @click="moveRightCard(list,listKey, card, cardKey)"><i class="click fas fa-caret-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        <div v-if="!list.collapsed" class="addCardDiv">
                        <input placeholder=" todo" @keyup.enter="addCard(list)" class="nameCard" v-model="list.newCard"> 
                        <button class="addC" @click="addCard(list)">Add</button>
                        </div>
                        <div class="collapseList" @click="list.collapsed=!list.collapsed"><i v-if="!list.collapsed" class="arrow up"></i><i v-if="list.collapsed" class="arrow down"></i></div>  
                        <div class='left1' @click="moveLeft(list,listKey)"><i class="click fas fa-caret-left"></i></div>
                        <div class='right1' @click="moveRight(list,listKey)"><i class="click fas fa-caret-right"></i></div>
                </div>
               </div>
        </div>
    </div>
        <!--sidebar-->
        <div class="sidebar" v-if="sidebar">
            <h1>Options</h1>
            <hr>
            <a href="#" class="destroySidebar" @click="sidebar=!sidebar"></a>
            <div class="sidebarContent">
                <div> 
                <div class="changeBC">User</div>
                <div>Username: {{currentUsername}}</div><input v-if="editingUser" v-model="editedUsername">
                <div>Email: {{currentUserEmail}}</div><input v-if="editingUser" v-model="editedEmail">
                <div v-if="loggedIn"><button v-if="!editingUser" @click="editingUser=!editingUser">Edit</button><button v-if="editingUser" @click="editUser">Save</button></div>
                <img :src="currentUserImage">
                <div v-if="!loggedIn" class='notloggedin'>(You are currently not logged in.)</div>
                </div>
                <hr>
                <div class="changeBC" @click="activityModal=!activityModal">See Activity</div>
                <hr>
                <div class="changeBC" @click="backgroundColorChanger=!backgroundColorChanger">Change Background Color</div>
                <div class="backgroundColorDiv" v-if="backgroundColorChanger">
                <input placeholder="Color or Hex" type="text" id='backgroundColorTemp' v-model='backgroundColorTemp' @keyup.enter="changeBackground"/>
                </div>
                <hr>
                <div class="changeBC" @click="showAddCategory=!showAddCategory">Categories</div>
                    <div class="showAddCat" v-if="showAddCategory">
                    <input placeholder="Category Name" type="text" v-model='newCategory'/>
                    <input placeholder="Color or Hex" type="text" v-model='newCategoryColor' @keyup.enter="addCategory"/>
                    <button @click="addCategory">Add Category</button>
                    </div>
                <div v-for="cat in categories">
                    <div class="catbox click" :style="{'background-color':cat.color}" @click="filterByCategory(cat.name)">{{cat.name}}</div>
                </div>
                <div class="catbox click all" @click="showAll">Show All</div>
                <div id="addcatbox" class="click" @click="showAddCategory=!showAddCategory">+</div>
            </div>
        </div>
        
        <!--modal for cards-->
        <div v-for="list in lists">
            <div v-for="(card,cardKey) in list.cards">
            <div v-if="card.showModal" class="card">
                <a href="#" class="destroyCardModal" @click="showModalFalse(list,card,cardKey); card.showModal=false;"></a>
                <h1>{{ card.name }}</h1>
                <!--deadline-->
                <span>Deadline: {{card.deadline}}<button class="editButton1" @click="editCardDead=!editCardDead; editDead(card.deadline, card,list,cardKey);"><i class="fas fa-plus-square" style="font-size:17px;"></i></button></span> <input placeholder="MM/DD/YYYY" v-model="card.deadline" v-if="editCardDead">
                <!--date created-->
                <span>Date Created: {{card.dateAdded}} </span>
                <br>
                <!-- description-->
                <span class="des bold">Description<button class="editButton1" @click="editCardInfo=!editCardInfo; editInfo(card.description, card,list,cardKey);"><i class="fas fa-plus-square" style="font-size:17px;"></i></button></span><div>{{card.description}}</div>
                <input placeholder="Any details?" v-model="card.description" v-if="editCardInfo">
                <br>
                <!--todo list-->
                <span class="bold">Todo List</span>
                <div>
                    <input placeholder="What do you need to get done?" class="nameCard" id="todoinput" v-model="newTodo"> 
                    <button class="addC" id="addT" @click="addTodo(list,card,cardKey)">Add</button>
                    <div v-for="(todo, todoKey) in card.todoList">
                        <div id="todo">
                            {{todo.name}}
                            <a href="#" class="destroyTodo" @click="removeTodo(list,card,cardKey,todo,todoKey)"></a>
                        </div>
                    </div>
                </div>
                <br>
                <!-- add images-->
                <div v-for='image in card.images' class="image"><img :src="image.url"><div>{{image.title}}</div></div>
                <form id="form">
                <div>
                    <label for="imgTitle"><p>Image Caption:</p></label>
                    <input type="text" class='caption' v-model="newImageTitle">
                    <input type="file" id="files1" name="files[]"/>
                </div>
                <div>
                    <button type="submit" class="addC" id="addT" @click="storeImage(list,card,cardKey)">Add Image</button>
                </div>
                </form>
                <br>
                <!--categorize-->
                <span class="bold">Categories<button class="editButton1" @click="selectCategories=!selectCategories; addCatToCard(list,card,cardKey);"><i class="fas fa-plus-square" style="font-size:17px;"></i></button></span>
                <div v-if="selectCategories" v-for="cat in categories">
                    <div class="check">
                    <input type="checkbox" id="checkCat" :value="cat.name" v-model="checkedCategories"><label :style="{'color':cat.color}" for="checkCat">{{cat.name}}</label>
                    </div>
                </div>
                <div v-for="cat in card.categories">
                    {{cat.name}}
                </div>
                <br>
                <!--comments-->
                <span class="bold">Comments</span>
                <div v-for="comment in card.comments">
                        <div id="comment">
                            <span class='bold'>{{comment.user}}: </span>
                            {{comment.name}}
                        </div>
                    </div>
                <div>
                <input placeholder="Comment" class="nameCard" id="todoinput" v-model="newComment"> 
                <button class="addC" id="addT" @click="addComment(list,card,cardKey)">Comment</button>
                </div>
                <br>
                <!--assign users to card-->
                <span class="bold">Assign Users
                <button class="editButton1" @click="selectUsers=!selectUsers; addUserToCard(list,card,cardKey);"><i class="fas fa-plus-square" style="font-size:17px;"></i></button></span>
                <div v-if="selectUsers" v-for="user in users">
                    <div class="check">
                    <input type="checkbox" id="checkCat" :value="user.username" v-model="checkedUsers"><label for="checkCat">{{user.username}}</label>
                    </div>
                </div>
                <div v-for="user in card.users">
                    {{user.username}}
                </div>
                <br>
            </div>
            </div>
        </div>
        
        <!--activity modal-->
        <div v-if='activityModal' class='card'>
        <h3>Activity</h3> 
            <a href="#" class="destroyCardModal" @click="activityModal=false;"></a>
            <div v-for='act in activity'>
                <p> {{act.user}} {{act.activity}} on {{act.date}}</p>
            </div>
        </div>
        </div>
        </div>
        <script src="js/trello.js"></script>

</body>
</html>

<!--License: This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License.-->
